.btn-project-modal{
    padding: 0 !important;
    margin: 0;
    border: none !important;
    color: rgb(255, 0, 0) !important;
}

.btn-title-project{
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: relative;
    bottom: -5px;
}

.btn-title-project2{
    display: flex;
    align-items: flex-start;
    width: 100px;
    justify-content: center;
    margin: 10px;
}

.img-project{
    width: 130px;
    border-style: solid !important;
    border-color: gray;
    border-width: 1px;
    border-radius: 5px;
}

.gif-project{
    width: 150px;
    border-style: solid !important;
    border-color: gray;
    border-width: 1px;
    border-radius: 5px;
}

.project{
    font-family: 'Montserrat', sans-serif !important;
}

.title-project{
    margin: 0 0 13px 13px;
}

.link-container{
    display: flex;
    align-items: center;
}

.link-container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-link{
    height: 23px;
    padding-right: 10px;
}

.container-info-project{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 15px;
}

.text-container{
    margin: 0 5px 0 20px;
}

.text-info-project{
    font-size: 14px;
    padding: 5px 0;;
    margin: 0;
}

h3{
    margin: 5px 0;
}

.tools-project{
    font-size: 14px;
    margin-top: 5px;
}

.description-project-title{
    margin: 10px;
    font-size: 15px;
}

.description-project{
    font-size: 15px;
    margin: 15px 15px 0 15px;
    border-top: solid 1px rgba(128, 128, 128, 0.596);
} 


.gif-project2{
    height: 197px;
    border-style: solid !important;
    border-color: gray;
    border-width: 1px;
    border-radius: 5px;
}

.container-info-project-bq{
    display: flex;
    flex-direction: column;
}

.tools-project2{
    display: flex;
    margin-left: 15px;
}

.container-tools-project-title{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.tools-project-title-bq{
    margin: 3px 0;
}

.text-container2{
    margin: 15px 5px 0 20px;
}

.user-password-bq{
    font-size: 15px;
    display: flex;
    justify-content: left;
}

.text-user-password{
    margin: 5px 25px 0 0;
}